<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <img src="/img/photo.png">
    </div>
    {{>footer}}
</body>

</html>